<inner-html>
  <header-component maxwidth="none"></header-component>
  <div class="logo-wrapper">
    <logo-component prop-color="#fff"></logo-component>
  </div>
  <main class="bay-main-wrapper">
    <p>
      An easy to use, lightweight library for web-components.
    </p>
    <a href="https://bayjs.org/examples/index.html" target="_blank">
      <button class="get-started"><span>View Examples on Bayjs.org</span> <span class="material-icons">arrow_forward</span></button>
    </a>
    <hr />
    <div class="info-boxes">
      <div>
        <h2>Web Components<span class="dot">.</span></h2>
        <p>
          Bay.js takes a template or file and converts it into a web-component. Share and reuse your components across
          projects.
        </p>
      </div>
      <div>
        <h2>Stateful<span class="dot">.</span></h2>
        <p>
          Bay.js will update the HTML when state changes and only update the parts of the HTML that need to and also
          binds events without eval or new Function for stricter security policies.
        </p>
      </div>
      <div>
        <h2>Syntax<span class="dot">.</span></h2>
        <p>
          Bay.js uses standard javascript string literal syntax for binding data to HTML and has a smallest learning
          curve possible.
        </p>
      </div>
    </div>
    <hr />
    <footer>©${new Date().getFullYear()} bayjs.org</footer>
  </main>
</inner-html>